@charset "UTF-8";
.header {
  height: 70px;
  width: 100%;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.container {
  height: 100%;
  width: 100%;
  max-width: 1200px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.25rem;
  background-color: transparent;
}

.button {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 50%;
  transform: translateY(-50%);
  right: 0px;
  cursor: pointer;
  width: 70px;
  height: 70px;
}
.button span {
  display: inline-block;
  background-color: #fff;
  position: absolute;
  left: 14px;
  height: 2px;
  width: 28px;
  transition: all 0.6s;
}
.button span:nth-of-type(1) {
  top: 25px;
  left: 21px;
}
.button span:nth-of-type(2) {
  top: 50%;
  left: 21px;
  transform: translateY(-1px);
}
.button span:nth-of-type(3) {
  left: 21px;
  bottom: 25px;
}
.button.active span:nth-of-type(1) {
  top: 27px;
  width: 30px;
  transform: translateY(7px) rotate(45deg);
}
.button.active span:nth-of-type(2) {
  opacity: 0;
  left: -30px;
}
.button.active span:nth-of-type(3) {
  bottom: 27px;
  transform: translateY(-7px) rotate(-45deg);
  width: 30px;
}

.fixed {
  background-color: rgba(255, 255, 255, 0.1); /* 背景色 */
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}

.logo {
  display: flex;
}

.logo_image {
  height: 40px;
  width: auto;
}

.logo_text {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  font-weight: bold;
  color: #fff;
  gap: 0.5rem;
}

.nav {
  position: relative;
  display: flex;
  align-items: center;
  width: auto;
  height: auto;
  background-color: transparent;
}

.nav_list {
  display: flex;
  flex-direction: row;
  margin-top: 0;
  margin-left: auto;
  list-style-type: none;
  gap: 1rem;
}

.nav_title {
  display: none;
  font-weight: 500;
  font-size: 2rem;
  color: #fff;
}

.nav_item a {
  font-size: 0.9rem;
  font-weight: 300;
  position: relative;
  padding: 0.5rem 0.75rem;
  display: flex;
  align-items: center;
  color: #fff;
}
.nav_item a:hover {
  color: #38bdf8;
  font-weight: bold;
}

.contact {
  color: #fff;
  background: linear-gradient(135deg, rgb(235, 53, 191) 0%, rgb(171, 29, 253) 50%, rgb(45, 49, 254) 100%);
  height: 100%;
  width: 150px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* =================================================
 800px
=================================================== */
@media screen and (max-width: 800px) {
  .button {
    display: inline-block;
  }
  .logo_image {
    height: 30px;
  }
  .logo_text span {
    font-size: 1.3rem;
  }
  .nav {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 300px;
    background-color: #1e293b;
    transform: translateX(150%);
    transition: transform 0.7s ease;
  }
  .nav.active {
    transform: translateX(0);
  }
  .nav_list {
    height: 100%;
    width: 100%;
    flex-direction: column;
    margin: 4rem 1rem 0 1rem;
    gap: 0;
  }
  .nav_title {
    display: block;
  }
  .nav_item {
    position: relative;
    border-bottom: 1px solid #fff;
    margin-top: 1rem;
  }
  .nav_item a {
    font-size: 1.5rem;
    font-weight: 700;
  }
  .nav_item::after {
    position: absolute;
    content: "";
    height: 1px;
    width: 20px;
    right: -2px;
    bottom: 7px;
    transform: rotate(45deg);
    background-color: #fff;
  }
  .contact {
    display: none;
  }
}/*# sourceMappingURL=Header.module.css.map */