.container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 1200px;
  padding: 0 1.25rem;
  transform: translateX(-50%) translateY(-50%);
}

.sub {
  color: #64748b;
  font-size: 2rem;
}

.title {
  font-size: 4.5rem;
  line-height: 1;
  font-weight: 800;
  color: #fff;
  filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07))
    drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
  margin-top: 1rem;
}

.text {
  color: #64748b;
  margin-top: 1rem;
  font-size: 2.25rem;
  line-height: 2.5rem;
  filter: drop-shadow(0 1px 1px rgb(0 0 0 / 0.05));
}

.button {
  position: relative;
  z-index: 30;
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 3rem;
  width: 100%;
  max-width: 320px;
  background-color: #1e293b;
  color: #fff;
  border-radius: 0.5rem;
  transition: all 0.3s ease;

  &:active {
    background-color: #0ea5e9;
  }

  &:hover {
    background-color: #38bdf8;
  }

  &::before {
    content: url("../../../public/github.svg");
    width: 30px;
    height: 30px;
  }
}

/* =================================================
1024px
=================================================== */
@media screen and (max-width: 1024px) {
  .sub {
    font-size: 1.125rem;
  }

  .title {
    font-size: 3.75rem;
  }
}

/* =================================================
800px
=================================================== */
@media screen and (max-width: 800px) {
  .title {
    font-size: 3rem;
  }

  .text {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}
